<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
  background:url(https://66.media.tumblr.com/a41c6f4b2eb205455f315e9783c4f7b1/tumblr_prwya1EliH1yp4zl5o1_1280.jpg)  ;
  font-family: 'Baloo Bhai', cursive;
  padding:3em;
  background-size:100%;
  background-repeat:no-repeat;
}
#form img{
  border:2px solid white;
  border-radius:50%;
  margin:2px;
  width:80px;
}
#form h1{
  color:white;
}
#form h2{
  color:white;
  font-size:16px;
  text-align:left;
  margin-left:10px;
  margin-bottom:1px;
}
#form{
  width:300px;
  background:transparent;
  height:400px;
  margin:0 auto;
  text-align: center;
  border: 2px solid white;
  border-radius:4%;
  position: relative;
}
#form .text{
  width:280px;
  height:25px;
  margin:3px;
  border:2px solid white;
  border-radius:5%;
  background:transparent;
  color:green;
}
#form .submit-button{
  width:70px;
  height:25px;
  border:2px solid white;
  background: transparent;
  margin-top:10px;
  border-radius:4%;
  color:white;
}

</style>
<body>
  
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<div id="form">
  <h1>Admin Login</h1>
  <img src="https://img.icons8.com/plasticine/100/000000/user-male.png">
  <form method="get" action="/admin1">
    <h2 class="h2user">Username:</h2>
    <input class="text" type="text" name="user" placeholder="Username"/>
    <h2 class="h2pass">Password:</h2>
  <input class="text" type="password" name="pass" placeholder="Password"/>
    <input class="submit-button"  type="submit" value="Submit">
    
  </form>
</div>
</body>
</html>