<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  

  <h1 class="text-center">Booking Review</h1>
  <div class="container">
 

    <center>
     
      {{!-- <h2>The amount to be paid is : {{dataValues.cabPrice}}</h2> --}}
    </center>
    <br>
     {{!-- <h1>thus is </h1>
      <h1>th us u{{data}}</h1> --}}
    <h3>Select the payment option : </h3>
    <br>
    <center style="display: flex; justify-content:space-around"><a href="" class="btn btn-primary">Cash</a><a href=""
        class="btn btn-primary">UPI</a><a href="" class="btn btn-primary">Debit/Credt card</a></center>
    <br><br><br><br><br><br><br>
    <center style="display: flex; justify-content:center">
      <h4 style="margin-right: 2vw;">Click here to download a pdf copy of receipt:</h4><a href="/download/{{data}}" target="_blank" class="btn btn-primary">Download</a>
    </center>
  </div>

</body>

</html>