<title>My Ride</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="booking.css">


</head>
<style>
  body {
    background-image: url(https://images.pexels.com/photos/2399254/pexels-photo-2399254.jpeg?auto=compress&cs=tinysrgb&w=600);

    background-size: cover;


  }
</style>

<body>


  <nav class="navbar" style="border-radius:0%;border:none;background-color: black; color: white;">
    <div class="navbar-header" style="margin-left:500px ;">
      <a class="navbar-brand" href="landingpage.html" style="box-shadow: none;color:yellow;">
        <h1>My Ride</h1>
      </a>
    </div>
    <ul class="nav navbar-nav out">

      <li><button onClick=location.href="/logout" type="submit" class="btn btn-default" id="btnsub"
          style="color:white;background-color:black ;margin-left: 40%;margin-top: 2%;border-radius: 20px;padding: 12px;font-size: 12pt;">LOGOUT</button>
      </li>

    </ul>
    </div>
  </nav>
  <br><br><br>
  <div class="container"
    style="background-color: white;width:30%;height: 350px; border-radius: 20px ;padding-left: 50px;padding-right: 50px;">
    <h2><b>Book your ride</b></h2>
    <form action="" method="post" id="lf"
      oninput='pk.setCustomValidity(pk.value == ds.value ? "Pickup and destination cannot be same." : "")'>
      <div class="form-group">
        <label for="pickup">Pickup:</label>
        <input type="text" class="form-control" id="pickup" placeholder="Enter pickup " name="pickup" required>
      </div>
      <div class="form-group">
        <label for="destination">Destination:</label>
        <input type="text" class="form-control" id="destination" placeholder="Enter destination" name="destination"
          required>
      </div>

      <div class="form-group">
        <label for="time">Time:</label>
        <input type="time" class="form-control" id="time" name="time" required>
      </div>


      <button type="submit" class="btn btn-default" id="btnsub"
        style="color:white;background-color:black ;margin-left: 40%;margin-top: 2%;border-radius: 20px;padding: 12px;font-size: 12pt;">Book</button>

    </form>
  </div>





  <script>

    var pickup = document.forms['lf']['pk'];
    var destination = document.forms['lf']['ds'];

    var time = document.forms['lf']['tm'];

    document.querySelectorAll('#lf input').forEach(e => {
      e.addEventListener('keyup', function (event) {
        if (!pickup.validity.valid || !destination.validity.valid || !time.validity.valid) {
          btnsub.setAttribute('disabled', true)


        }
        else {
          btnsub.removeAttribute('disabled', true);
        }
      })

    });


  </script>